# File GIT-IGNORE Standard per progetti java con Maven
# File compilati
*.class

# File di Log
*.log

# File Package
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# File IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
*.swp
*.swo
*~

# File OS
.DS_Store
Thumbs.db

# Personal files (anche per la gestione dei file binari dedicati a IO)
1-JavaProject/CampusLib/personal-files/
